* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1170px;
    margin: 0 auto;
}

/***************
MAIN NAVIGATION
***************/

.navbar {
    margin: 0;
    border-radius: 0;
    background-color: #2c3e50;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
    color: #fff;
    transition: .6s;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #2c3e50;
    color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    background-color: #2c3e50;
    color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #fff;
    color: #2c3e50;
}

.fa-bars {
    color: white;
    float: right;
    font-size: 300%;
    display: none;
}

/***************
STICKY NAVIGATION
***************/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d1a11f;
    border: none;
    border-radius: 0;
    z-index: 999;
    box-shadow: 0 1px 1px #626262;
    transition: .4s;
}

.sticky .navbar-nav li a:hover {
    background-color: #2c3e50;
}

/***************
STICKY lEVEL 
***************/

.sticky-level-buttons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin: 0;
    text-align: center;
}

/***************
HOME PAGE
***************/

.main-header {
    background-image: linear-gradient(rgba(195, 150, 31, 0.8), rgba(195, 150, 31, 0.3)), url(img/header1-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.header-text {
    position: absolute;
    top: 25%;
    left: 20%;
    color: #fff;
}

.topic-header {
    color: white;
    background-color: #d1a11f;
    text-align: center;
}

.thumbnail {
    box-shadow: 1px 1px #2c3e50;
    ;
}

.thumbnail img {
    box-shadow: 1px 2px #2c3e50;
    ;
}

.fa-superpowers {
    color: #fff;
}

.fa-linkedin-square {
    color: #007bb6;
    font-size: 1.2em;
}

h1 {
    font-weight: 300;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
}

#about h4 {
    font-size: 1.3em;
    color: #2c3e50;
    display: inline-block;
    margin-right: 5px;
}

footer {
    text-align: center;
    padding: 50px 0;
}

.level-buttons,
.lesson-buttons {
    text-align: center;
    margin: 20px auto;
}

.lesson-buttons button,
.level-buttons button {
    margin-right: 5px;
    border: none;
    box-shadow: 1px 1px #959595;
}

.lesson-head h1 {
    font-size: 3em;
}

.lessonbylvl {
    font-size: 2em;
}

section {
    margin: 75px 0;
}

.btn {
    background-color: #2c3e50;
    border-color: #000;
    transition-duration: .4s;
}

.btn:hover {
    background-color: #fff;
    color: #2c3e50;
}

.vocab-section {
    background-color: #2c3e50;
    color: white;
}

.vocabulary {
    padding: 15px;
    height: 200px;
}

.about-img {
    text-align: center;
}

.about-text {
    padding: 80px;
}

footer {
    background-color: #d1a11f;
    color: white;
}

/***************
ANIMATIONS
***************/

.js--wp-1,
.js--wp-2 {
    opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated {
    opacity: 1;
}

.js--wp-3,
.js--wp-4,
.js--wp-5 {
    animation-duration: 1s;
}

/* Portrait and Landscape */

@media only screen and (min-device-width: 220px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    .nav,
    .navbar-brand,
    #about {
        font-size: 2.3rem;
    }

    .navbar.navbar-inverse .dropdown-menu {
        font-size: 2.3rem;
    }

    .header-text h1 {
        font-size: 1.5em;
        padding: 0 4px;
    }

    .header-text .btn {
        font-size: 1em;
    }

    h2 {
        font-size: 4rem;
        margin: 20px 0;
    }

    h3 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }

    section {
        margin: 20px;
    }

    .thumbnail {
        margin: 50px 0;
    }

    .caption a {
        font-size: 2rem;
    }

    #about h4 {
        color: #2c3e50;
        display: inline-block;
        margin: 40px 0;
    }

    .about-text {
        padding: 20px;
    }

    .fa-linkedin-square {
        margin-left: 20px;
        font-size: 2.8rem
    }

    .lesson-head {
        font-size: 1rem;
        text-align: center;
        margin: 20px 0;
    }

    .lesson-buttons button {
        background-color: #d1a11f;
    }

    .level-buttons button,
    .lesson-buttons button {
        font-size: 1.2rem;
    }

    .level-buttons button:active,
    .lesson-buttons button:active {
        background-color: white;
    }

    .lessonbylvl {
        font-size: 2.4rem;
        text-align: center;
        color: white;
        background-color: #d1a11f;
        padding: 20px 0;
    }

    .vocab-section {
        margin: 0;
    }

    .vocabulary {
        margin: 50px 0 0 0;
        width: 100%;
    }

    .vocabulary h3,
    .vocabulary em {
        display: inline-block;
        margin-right: 10px;
    }

    .vocabulary em {
        font-size: 2rem;
    }

    .list-group-item {
        font-size: 2rem;
        border: none;
        padding: 20px 0;
    }

    .container-fluid.lesson-buttons {
        padding: 0;
    }

    .lesson-buttons button {
        padding: 4px;
        margin: 0;
    }

}
